@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import 'app_component';
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #333441;
    font-family: Raleway, Helvetica, sans-serif;
}

input,
textarea,
select,
button {
    font-family: Raleway, Helvetica, sans-serif;
}

*:focus {
    outline: none;
}

footer {
    color: #fff;
    text-align: center;
    padding: 2em;
    font-size: 0.8em;
}